
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" [userObject]="userObject" (onLogout)="logout($event)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
    <mat-toolbar color="primary">
        <div class="hamburger-menu-wrapper">
            <button mat-icon-button (click)="onToggleSidenav(sidenav)">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <img class="logo" src="/assets/carpet_logo.png">
        <div class="app-title">Carpet Shop</div>
        <div class="navigation-wrapper">
            <ul class="navigation-items">
                <li><a routerLink="/main">Main</a></li>
                <li *ngIf="!(loggedInUser)"><a routerLink="/login">Login</a></li>
                <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Logout</a></li>
                <li><a routerLink="/signup">Register</a></li>
                <li *ngIf="userObject?.is_admin"><a routerLink="/admin">Admin</a></li>
            </ul>
        </div>
        <div class="user" *ngIf="userObject">
            <mat-icon class="icon"> person </mat-icon>
            <p>{{userObject.username}}</p>
        </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

