<h2> Add carpet </h2>
<div class="add-container">
    <mat-card>
        <form [formGroup]="addFormGroup" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label for="name">Name: </mat-label>
                <input matInput type="text" formControlName="name"/>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="type">Type: </mat-label>
                <input matInput type="text" formControlName="type" />
            </mat-form-field>
            <mat-form-field>
                <mat-label for="description">Description: </mat-label>
                <input matInput type="text" formControlName="description" />
            </mat-form-field>
            <mat-form-field>
                <mat-label for="price">Price: </mat-label>
                <input matInput type="number" formControlName="price" />
            </mat-form-field>
            <mat-form-field>
                <mat-label for="price">Rating: </mat-label>
                <input matInput type="number" formControlName="rating" />
            </mat-form-field>

            <input type="file" class="file-input" accept=".png,.jpg,.jpeg" (change)="onFileSelected($event)" #fileUpload>

            <div class="file-upload">

                <span>{{fileName || "No file uploaded yet."}}</span>

                <button type="button"  mat-mini-fab color="primary" class="upload-btn"
                    (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                <mat-progress-bar *ngIf="uploadPercent" mode="determinate" [value]="uploadPercent | async"></mat-progress-bar>
            </div>

            <div class="buttons-div">
                <span class="buttons">
                    <button mat-raised-button color="primary" type="submit">Add carpet</button>
                </span>
            </div>

            <span class="error" *ngIf="this.errorFlag"> Create failed! </span>
            <span class="success" *ngIf="this.successFlag"> Create successful! </span>
            
        </form>
    </mat-card>
</div>
