@import '../../../../styles.scss';

form div {
    padding: 5px 5px 5px 5px;
}

form {
    display: inline-grid;
    width: 50%;
    align-self: center;
}

mat-form-field{
    padding: 5px 10px;
}

mat-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $app-sub-bg-color;
    width: 100%;
}

.add-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.file-input {
    display: none;
  }

.error{
    color: $app-warn-color;
}

.success{
    color: $app-success-color;
}

p {
    font-size: larger;
}